<div class="container">

    <form name="selection" action="/save" method="POST"></form>
   <div class="labels">
     
         <div class="row">
            <div class="col-sm">
               <label class="container2">Tops
               <input name="check1" type="checkbox" checked="checked">
               <span class="checkmark"></span>
               <img class="chosenItem" src="https://www.witchery.co.nz/ProductImages_Display/MEDIUM/2/16742_102631_114136.jpg">
               </label>
            </div>
            <div class="col-sm">
               <label class="container2">Skirt
               <input type="checkbox">
               <span class="checkmark"></span>
               </label>
            </div>
            <div class="col-sm">
               <label class="container2">Bag
               <input type="checkbox">
               <span class="checkmark"></span>
               </label>
            </div>
         </div>
   </div>
   <input name="submit" type="submit" value="Save Selection">
   </form>
      <div>
      <img src ="https://www.witchery.co.nz/images/assetimages/2018/08-august/wk-5/desktop/New-Utility_06.jpg">
   </div>
</div>