<div>
    <div  class= "coordinate" >
    <img  class= "coordinatePic" src ="https://www.witchery.co.nz/images/assetimages/2018/08-august/wk-5/desktop/New-Utility_06.jpg">
   
    <div class="labels">
    <form name="selection" action="/save" method="POST">
    <label class="container2">Sunglasses
    <input name="check1" type="checkbox" checked="checked">
    <span class="checkmark"></span>
    </label>

    <label class="container2">Tops
    <input type="checkbox">
    <span class="checkmark"></span>
    </label>

    <label class="container2">Skirt
    <input type="checkbox">
    <span class="checkmark"></span>
    </label>

    <label class="container2">Bag
    <input type="checkbox">
    <span class="checkmark"></span>
    </label>
    <input name="submit" type="submit" value="Save Selection">
    </form>
    </div>
    </div>
</div>