<div>
<h1>How does it work?</h1>
</div>
<div>
<h1>Choose your preference</h1>
</div>
<div>
<h1>Choose your budget</h1>
</div>
<div>
<div>
</div>
<div>
</div>
</div>
<div>
<div>
</div>
<div>
</div>
</div>

