<!DOCTYPE html>
<html>
  <head>
    <title>Yuzuki's Fashion Bag</title>
  </head>
  <body>
    my fashion bag has these items in it
    <ul>
    {{#each users}}
      <li>{{name}} ({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
