<div class = "text-center">
  <div id = "main" class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">

      </div>
    </header>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">My Fashion Box</h1>
        <p class="lead">
          <a href="/features" class="btn btn-lg btn-secondary">Learn more</a>
          <a href="/dressmeup" class="btn btn-lg btn-secondary">Dress me up</a>
        </p>
    </main>
    <footer class="mastfoot mt-auto">

    </footer>
  </div>
</div>
 