<div class="subscription-header px-3 py-3 pt-md-5 pb-md-4">
   <h1 class="display-4">Subscription</h1>
   <p class="lead">Select your preferred box</p>
</div>
<div class="container3">
   <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
         <div class="card-body">
            <button type="button" class="btn btn-lg btn-block btn-primary"><a href = "/subscription/casual" style = "color: aliceblue">Casual</a></button>
         </div>
      </div>
      <div class="card mb-4 box-shadow">
         <div class="card-body">
            <button type="button" class="btn btn-lg btn-block btn-primary">Smart</button>
         </div>
      </div>
      <div class="card mb-4 box-shadow">
         <div class="card-body">
            <button type="button" class="btn btn-lg btn-block btn-primary">Party</button>
         </div>
      </div>
      <div class="card mb-4 box-shadow">
         <div class="card-body">
            <button type="button" class="btn btn-lg btn-block btn-primary">Sporty</button>
         </div>
      </div>
   </div>
</div>