#main {
  background-image: url(https://www.versace.com/on/demandware.static/-/Library-Sites-ver-shared-non-trans/default/dw12ac633b/images/versus/fashion-show/Versus-ss18-post-show-bts-06.jpg);
  
  background-size: cover;
  background-position: center;
  background-position-y: -10px;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}
.masthead mb-auto {
  min-width: 100%;
  min-height: 100%;
}
.text-center {
  height: 100%;
}
.cover-heading {
  font-size: 80px;
  font-style: italic;
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 5px black;
}
.lead {
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
}

a.nav-link {
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}
#signUp-tab {
  border: 1px solid;
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  border-color: aliceblue;
  font-size: 20px;
 }

 #signUp-tab:hover {
  color: #0665ca;
 }



.container {
  margin:5%;
}



