#main {
  background-image: url(https://www.versace.com/on/demandware.static/-/Library-Sites-ver-shared-non-trans/default/dw12ac633b/images/versus/fashion-show/Versus-ss18-post-show-bts-06.jpg);
  
  background-size: cover;
  background-position: center;
  background-position-y: -10px;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
}
.masthead mb-auto {
  min-width: 100%;
  min-height: 100%;
}
.text-center {
  height: 100%;
}
.cover-heading {
  font-size: 80px;
  font-style: italic;
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 2px 2px 5px black;
}
.lead {
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
}

a.nav-link {
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}


#signUp-tab {
  border: 1px solid;
  color: aliceblue;
  font-family: 'Permanent Marker', cursive;
  border-color: aliceblue;
  font-size: 20px;
 }

 #signUp-tab:hover {
  color: #0665ca;
 }

.coordinatePic {
  margin:1%;
  width: 30%;
  height: 30%;
  float:left;
}

.labels {
  float: left;
  margin-right: 1%;
  padding-top: 30px;
  ;
}




/* Customize the label (the container) */
.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container2 .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


.chosenItem {
  width: 70%;
}